body {
  height: 100%;
	font: 9.5pt Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	background-color: #FCFCFC;
  background-image: url("../img/lazos.png");
  background-repeat: no-repeat;
  background-size: 15% 100%;
  background-position: left 50px;
}

html{
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #000000;
}



.outer{
  	width: 100%;
  	text-align: center;
}

.outerh{
    width: 100%;
    height: 100%;
    text-align: center;
}

.outerh img {
   vertical-align: middle;
}

.center{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.right{
    width: 100%;
    display: inline-block;
    justify-content: right;
    align-items: right;
}

.subtitle{
    padding: 30px 30px;
    font-size: 18px;
    color: #000000;
	display: inline-block;
}

.surveytitle{
    font-size: 18px;
    color: #000000;
}

.surveytext{
    font-size: 18px;
    color: #000000;
    text-align: justify;
    text-justify: inter-word;
}


.title{
	color: #FFFFFF;
    text-align: center;
}


h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0.5em 0 1em 0;
}

h2 {
 text-transform: uppercase;
 margin: 0;
 font-size: 16px;
 position: absolute;
 top: 5px;
 right: 5px;
 font-weight: bold;
 color: #ECF0F1; 
}

section {
  display: block;
  max-width: auto;
  margin: 0 auto 1em;
  height: auto;
  border-radius: .2em;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  img, p {
    padding: 1em;
    margin: 0;
  }
}

.errortext{
  font-weight: bold;
  font-size: 14px;
}

.credit {
  margin: 20px 0;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.surveywelcome{
  font-size: 16px;
  padding: 15px 15px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  margin-bottom: 30px;
}

.form-control-box{
  min-height: 80px;
  margin-bottom: 30px;
  border-style: solid;
  border-color: #DFF0D8;
  border-width: 1px;
}

.form-label-box{
  min-height: 40px;
  width: 100%;
  display: table;
}

.form-label-box span{
  height: 100%;
  display: table-cell;   
  vertical-align: middle;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 600;
}

.form-answer-box{
  width: 100%;
  display: table;
}

.form-answer-box span{
  height: 100%;
  display: table-cell;   
  vertical-align: middle;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 600;
}

.surveybuttonsubmit{
  padding: 5px 15px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.form-thanks{
  min-height: 80px;
  margin-bottom: 30px;
}

.form-thanks{
  min-height: 40px;
  width: 100%;
  display: table;
}

.form-thanks h1{
  color: #DFF0D8;
  font-weight: 600;
}